.ticket-form {
    display: flex;
    flex-direction: column;
}

.field {
    padding: 10px;
}

.pets {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-around;
}